<table>
{{#each items as |item|}}
    <tr>
        <td>{{input value=item.name}}</td>
        {{!-- <td>{{input value=item.description}}</td>
        <td>{{input value=item.unit}}</td>
        <td>{{input value=item.net}}</td>
        <td>{{input value=item.tax}}</td> --}}
        <td>{{input value=item.quantity}}</td>
        {{!-- <td>{{input value=item.totalnet}}</td>
        <td>{{input value=item.totaltax}}</td>
        <td>{{input value=item.totalgross}}</td> --}}
    </tr>
{{/each}}
</table>