{{revenue-form model=model}}
{{items-list items=model.items}}
<button {{action 'addItem' model}}>add</button>
<button {{action 'submit' model}}>Submit</button>
<button {{action 'rollback' model}}>Cancel</button>
{{outlet}}